<div class="row full-row">
    <div class="col-lg-10 checkbox-group">
        <input type="checkbox" id="completeTodo" name="complete" value="true" class="check-large" />
        <label class="middle-text" for="completeTodo">
            {{ title }}
        </label>
    </div>
    <div class="col-lg-2 button-group">
        <pf-button [variant]="'secondary'" [size]="'small'" [loading]="false" (click)="editTodo()">
            Edit
        </pf-button>
        <pf-button [variant]="'danger'" [size]="'small'" [loading]="false" (click)="removeTodo()">
            Remove
        </pf-button>
    </div>
</div>

<app-overlay-loading *ngIf="loading" [type]="getLoadingPropType()"></app-overlay-loading>