.check-large {
    width: 5%;
    height: 50%;
}

.full-row {
    width: 100%;
}

.middle-align {
    vertical-align: middle;
}

.checkbox-group {
    display: flex;
    justify-content: start;
    align-items: center;
}

.button-group {
    flex: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}